{% extends "_layout/master.twig" %}
{% block content %}
<div class="starter-template">
    <div class="jumbotron">
        <h1 class="display-4">Cleanup Grid</h1>
        <p class="lead">
            A Cleanup Application made using Google Maps
        </p>
        <hr class="my-4">
        <p>
            Take part with others in your community to keep our planet clean!
        </p>
        <a type="button" class="btn btn-success" href="map">To the Map</a>
    </div>
    <h1 style="text-align: left;">Instructions</h1>
    <p>
        <ol style= "text-align: left;">
            <li>Sign in using your Google account.</li>
            <li>Go to the Maps page.</li>
            <li>Look at areas near you in need of cleaning or a checkup, and go to that place.</li>
            <li>Pick up all of the trash that you can find in the area.</li>
            <li>To change the Map, first select Clean, Trash, or Clear.</li>
            <li>Click on the square or squares that you have cleaned or checked.</li>
            <li>Collaborate with other people to keep your community trash free.</li>
            <li>Congratulations! You have helped make our world a better place!</li>
        </ol>
    </p>
</div>
{% endblock %}

{% block js %}

    <script>
    "use strict";
    let BASE_URL = window.location.href
    let firebaseSrvc = new KAS.FirebaseService()
    let firebaseAuth = new KAS.FirebaseAuth(BASE_URL)
    $(document).ready(function () {
        firebaseAuth.checkLogin().then((resp) => {
            if (!firebaseAuth.isPendingRedirect()) {
                _.each(document.getElementsByTagName("main"), (it) => it.classList.remove('d-none'))
            }
        })
    })
    </script>

{% endblock %}
